<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/style_signup.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0; i<nav2.length; i++){%>
        <li>
          <a href="<%=nav2[i].link%>"><%=nav2[i].name%></a>
        </li>
        <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Sign Up
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
            <form method="POST" action = "/signup/user" onsubmit="return validate();">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" name="email" class="form-control" autocomplete="off" placeholder="Enter your email id" id="inputEmail4" onkeyup="valid_email();">
                  <p id="p1"></p>
                </div>
                <div class="form-group col-md-6 field">
                  <label for="inputPassword4">Password</label>
                  <input type="password" name="password" class="form-control" autocomplete="off" placeholder="Enter your password" id="inputPassword4" onkeyup="valid_pwd();">
                 
                  <div class="indicator">
                    <span class="weak"></span>
                    <span class="medium"></span>
                    <span class="strong"></span>
                  </div>
                  <div class="text"></div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="inputAddress">Address</label>
                <input type="text" name="adress" class="form-control" id="inputAddress" placeholder="House/Apt Name, Landmark, Location">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Phone Number</label>
                  <input type="text" name="phone" class="form-control" placeholder="Enter your Phone Number" id="inputPhone" onkeyup="valid_phone();">
                  <p id="p2"></p>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" name="city" class="form-control" id="inputCity" placeholder="Enter your City">
                  <p></p>
                </div>
              </div>
  
                
              <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <br><b>Already have one? <a href="/login">LogIn</a></b>
          </div>
            <hr>
          <!--/stories-->
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="/">mayroseant</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script_signup.js"></script>
	</body>
</html>